@charset "UTF-8";

/***********   GLOBAL RULES   ***********/
body, html{
	height: 100vh;
	max-width: 80vw;
	background-color: #FFF;
	font-family: "Roboto", 'Roboto Thin', sans-serif;
	font-weight: 105;
	font-style: normal;
	font-size: 15px;
	color:#000;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0 auto !important;
}

hr{
	width: 100%;
}

/***********   PAGE CONTAINERS   ***********/

#main_body{
	min-height:80vh;
}

#PageContainer{
	width: 100%;
	min-height: inherit;
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: 10px;
	padding-right: : 10px;
	border-style: solid;
	border-color: #000;
	border-width: 2px;
}

div#title_holder{
	display: flex;
	flex-direction: column;
}

span#title_span{
	font-weight: 180;
	font-style: normal;
	padding-left: 4px;
	padding-right: 10px;
	font-size: 24px;
}
span#title2_span{
	display: block;
	font-weight: 100;
	font-style: normal;
	padding-left: 4px;
	padding-right: 10px;
	font-size: 14px;
}

.override{
	font-family: "Roboto", 'Roboto Thin', sans-serif;
	font-weight: 180;
	font-style: normal;
	font-size: 20px;
	color:#000;	
}

/***********   SCHEDULE TABLE   ***********/
.schedule-table{
	text-align: center;
}

#row_spacer{
	text-align: inherit;
	font-weight: 800;
}

th, td > .schedule-table{
	text-align: inherit;
	width: calc(100% / 4);
}

/***********   REGISTRATION FRAME   ***********/
#registration_embed,#maps_embed{
	height: 100%;
}
#registration_embed>iframe,#maps_embed>iframe{
	width: 100%;
	height: 100%;
}

#maps_embed>iframe{
	pointer-events: none;
}

/***********   NAVBAR   ***********/

.navbar{
	margin-top: 10px;
}
.navbar-brand {
	padding: 5px;
}
.navbar-brand>img {
	height: 100%;
	padding: 20px;
	width: auto;
}

.nav li:hover{
	background:#DDD;
	cursor: pointer;
	cursor: hand;
}
.nav>li{
	display: inline-block;
}

.nav{
	min-height:3vh;
	white-space: nowrap;
	display: inline-block;
	font-size: 13px;
	font-style: bold;
}

/*Logo rules*/
.Logo {
	font-family: 'Roboto', 'Roboto Thin', sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 35px;
	color:#000;
	display: flex;
	flex-direction: row;
}

/* Welcome message*/
#welcome_msg_container{
	text-align: center;
}

#welcome_msg{
	font-weight: bold;
	text-align: center;
}

/* ARC Header Image */
#arc_header{
	display: block;
	margin: 15px auto;
	max-height: 100px;
	width: auto;
}

/***********   SPACERS   ***********/

.spacer-right{
	margin-right: 10px;
}

.spacer-top{
	margin-top: 20px;
}

.spacer {
	margin-top: 2%;
}


/***********   INSTRUCTOR CARDS   ***********/

.card_row{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}

@media (max-width: 768px) {
	.card_row{
		display:flex;
		flex-direction: column;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
}

img.meet{
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 240px;
	margin: auto;
	text-align: center;
	margin: 3px;
}

.card_title {
	color: grey;
	font-size: 12px;
}

button {
	border: none;
	outline: 0;
	padding: 5px;
	color: white;
	background-color: #AAA;
	text-align: center;
	cursor: pointer;
	width: auto;
	font-size: 18px;
}

.card_email{
	color: #777;
	font-size: 12px;	
}

a.meet {
	text-decoration: none;
	font-size: 22px;
	color: black;
}

button:hover, a:hover {
	opacity: 0.7;
}